<% layout('layouts/boilerplate') -%>
    <div class="row">
        <h1 class="text-center">Edit Restaurant Details</h1>
            <div class="col-md-6 offset-md-3">
                <form action="/restaurants/<%= restaurant._id %>?_method=PUT"" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label" for="title">Title</label>
                        <input class="form-control" type="text" id="title" name="restaurant[title]" value="<%= restaurant.title %>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="location">Location</label>
                        <input class="form-control" type="text" id="location" name="restaurant[location]" value="<%= restaurant.location %>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <!-- <div class="mb-3">
                        <label class="form-label" for="Image">Add Images</label>
                        <input type="file" name="image" id="image" multiple>
                    </div> -->
                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <textarea class="form-control" type="text" id="description" name="restaurant[description]" required><%= restaurant.description %></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Add More Image(s)...</label>
                        <input class="form-control" type="file" id="formFile" name="image" multiple>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <h5> Delete Images </h5>
                    <div class="row row-cols-1 row-cols-md-4 g-4 mb-3">
                        <% restaurant.images.forEach((img, i) => { %>
                            <div class="col">
                                <div class="card">
                                    <img class="card-img" src="<%= img.thumbnail %>" alt="">
                                    <div class="card-img-overlay text-end pt-1 pe-2">
                                        <label class="visually-hidden" for="image-<%= i %>">Delete Image</label>
                                        <input class="form-check-input" type="checkbox" name="deleteImages[]" value="<%= img.filename %>"  id="image-<%= i %>">
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-info">Update Restaurant</button>
                    </div>
                </form>
                <a href="/restaurants/<%= restaurant._id %>">Back to Restaurant</a>
            </div>
    </div>    